html
{
    height: 97%;
    background: rgb(11, 15, 17);
    font-family: Palatino, serif;
}

body
{
    height: 100%;
    text-align: center;
}
.div
{
    margin: 0 auto;
}
#tryagain
{
    text-align: center;
    margin:0 auto;
    background-image: url("../images/start/body-img.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 130%;
    font-family: times;
    color: #EEF3CD;
}

a{ color:#EEF3CD; text-decoration:none;}
a:hover{ color:#F00; text-decoration:underline;}
a:active{ color:#EEF3CD;}