html {
	font-family: Palatino, serif;
	color: white;
}

body {
	margin: 0;
}

/* font color input field place holder text */
::-webkit-input-placeholder { color: white; }
::-moz-placeholder { color: white; } /* firefox 19+ */
:-ms-input-placeholder { color: white; } /* ie */
input:-moz-placeholder { color: white; }

#top {
	margin-top: 10px;
	background: rgba(17, 24, 27, 0.3);
	float: left;
	margin-left: 20px;
	width: 270px;
	height: 46px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 0px;
}

#top #magnify {
	background: rgba(17, 24, 27, 0);
	margin-top: 5px;
	margin-left: 10px;
	border: 0px;
	height: 30px;
	width: auto;
}

#search {
	position: absolute;
	text-transform: uppercase;
	font-family: Palatino, serif;
	font-size: 15px;
	color: white;
	border: 0px;
	top: 13px;
	background: rgba(17, 24, 27, 0);
	margin-left: 15px;
	height: 42px;
	width: 200px;
	padding-left: 10px;
}

#searchBeer1 {
	position: absolute;
	top: 62px;
	padding: 10px;
	background: rgba(17, 24, 27, 0.3);
	/*float: left;*/
	width: 250px;
	height: 475px;
	margin-left: 20px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	overflow:scroll;	

}

#searchBeer2 {
	position: absolute;
	margin-left: 310px;
	top: 62px;
	padding: 10px;
	background: rgba(17, 24, 27, 0.3);
	width: 250px;
	height: 475px;
	border-radius: 15px;
	overflow: scroll;	
}

#main {
	position: absolute;
	margin-left: 600px;
	top: 62px;
	padding: 10px;
	width: 465px;
	height: 375px;
	background: rgba(17, 24, 27, 0.3);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow:scroll;	
}

#main_total {
	position: absolute;
	margin-left: 600px;
	top: 462px;
	padding: 10px;
	width: 465px; 
	height: 75px;
	background: rgba(17, 24, 27, 0.3);
}

#main_total p {
	margin-left: 20px;
	margin-top:20px;
	font-size: 25px; 
}

#main_button_area {
	position: absolute;
	left: 600px;
	width: 485;
	height: 50px;
	top: 560px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.main_button {
	background: rgba(17, 24, 27, 0.3);
	color: white;
	width: 118px;
	text-align: center;
	cursor: pointer;
	padding: 16px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
    margin-bottom: 1px;
    border: none;
}




.beerButton {
	padding: 10px;
	border-bottom-color: white;
	margin-bottom: 0px;
	border-bottom: solid 1px;
	cursor:pointer;
	width: 90%;
	display: inline-block;
}

input[type="image"] {
	float: right;
	 width: 20px;
	 height: 20px;
}

input[type="number"] {
  float: right;
  margin-right: 20px;
  width: 5%;
  font-family: sans-serif;
  font-size: 15px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  outline: none;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   border-bottom-color: white;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 100%;
}

th,td {
    padding: 15px;
}




