html {
	font-family: Palatino, serif;
	color: white;
}

input {
	width: 200px;
}

#settingHeader {
	background: rgba(17, 24, 27, 0.3);
	width: 100px;
	height: 30px;
	padding: 5px;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
}

#createNewUser { 
	clear: left;
	border-radius: 10px;
	width: 300px;
	height: 500px;
	padding: 5px;
	padding-left: 20px;
	margin-left: 20px;
	background: rgba(17, 24, 27, 0.3);
	float: left;
}

#getLastFive {
	border-radius: 10px;
	width: 300px;
	height: 500px;
	padding: 5px;
	margin-left: 20px;
	background: rgba(17, 24, 27, 0.3);
	float: left;
	overflow: auto;
}

#addCreditUserDiv {
	border-radius: 10px;
	width: 300px;
	height: 500px;
	padding: 5px;
	margin-left: 20px;
	background: rgba(17, 24, 27, 0.3);
	float: left;	
}