html {
	font-family: Palatino, serif;
	color: white;
}

body {
	margin: 0;
}

/* font color input field place holder text */
::-webkit-input-placeholder { color: white; }
::-moz-placeholder { color: white; } /* firefox 19+ */
:-ms-input-placeholder { color: white; } /* ie */
input:-moz-placeholder { color: white; }


#logosearch {
	position: absolute;
	left: 1px;
	width: 1100px;
	height: 74px;
}

#ls_left {
	float: left;
	width: 300px;
	height: 74px;
}

#ls_left #tfd_logo {
	width: auto;
	border: 0px;
	margin-left: 190px;
	height: 100px;
	width: auto;
}

#ls_main {
	background: rgba(17, 24, 27, 0.3);
	float: left;
	margin-left: 0px;
	width: 475px;
	height: 40px;
	border-radius: 15px;
	padding: 10px;
	margin-top: 20px;
}

#ls_main #magnify {
	margin-left: 5px;
	border: 0px;
	height: 40px;
	width: auto;
}

#ls_main #search {
	position: absolute;
	text-transform: uppercase;
	font-family: Palatino, serif;
	font-size: 20px;
	color: white;
	border: 0px;
	background: rgba(17, 24, 27, 0);
	margin-left: 15px;
	height: 40px;
	width: 400px;
	padding-left: 10px;
}

#ls_right {
	float: left;
	width: 225px;
	height: 54px;
	padding: 32px;
	margin-left: 0px;
}

#menu {
	padding: 10px;
	background: rgba(17, 24, 27, 0.3);
	float: left;
	width: 180px;
	height: 475px;
	margin-left: 10px;
	border-radius: 15px;
	margin-top: 110px;
}

#menu_button {
cursor: pointer
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   border-bottom-color: white;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 100%;
}

th,td {
    padding: 15px;
}

#main {
	padding: 10px;
	padding-left: 15px;
	background: rgba(17, 24, 27, 0.3);
	float: left;
	width: 550px;
	height: 530px;
	margin-left: 15px;
	border-radius: 15px;
	overflow: auto;
	margin-top: 110px;
}

#main::-webkit-scrollbar {
    width: 10px;
	border-radius: 15px;
}

#main::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(17,24,27,0.3);*/
	border-radius:15px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 15px;
  margin-top: 8px;
}

#main div {
    margin-top: 20px;
    border-radius: 10px;
    height: 200px;
    width: 150px;
    display: inline-block;
    margin: 13px;
    position: relative;
	overflow: auto;
	overflow-y: hidden;
}

#main h4 {
	color: black;
    position: absolute;
    margin-top: 155px;
    margin-left: 5px;
	overflow: auto;
}

#main h5 {
	color: black;
	position: absolute;
    margin-top: 175px;
    margin-left: 75px;
	overflow: auto;
}

#order {
	float: left;
	padding: 10px;
	background: rgba(17, 24, 27, 0.3);
	width: 250px;
	height: 475px;
	margin-left: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 110px;
}

#order h4 {
	margin-top: -25px;
	margin-left: 0px;
	color: white;
}

.orderbutton {	
	background: rgba(17, 24, 27, 0.3);
	float: left;
	margin-left: 15px;
	margin-top: 5px;
	width: 127px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
    border: none;
}
