html {
	font-family: Palatino, serif;
	color: white;
}

body {
	margin: 0;
}

/* font color input field place holder text */
::-webkit-input-placeholder { color: white; }
::-moz-placeholder { color: white; } /* firefox 19+ */
:-ms-input-placeholder { color: white; } /* ie */
input:-moz-placeholder { color: white; }

#top {
	margin-top: 10px;
	background: rgba(17, 24, 27, 0.3);
	float: left;
	margin-left: 20px;
	width: 270px;
	height: 46px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 0px;
}

#top #magnify {
	background: rgba(17, 24, 27, 0);
	margin-top: 5px;
	margin-left: 10px;
	border: 0px;
	height: 30px;
	width: auto;
}

#search {
	position: absolute;
	text-transform: uppercase;
	font-family: Palatino, serif;
	font-size: 15px;
	color: white;
	border: 0px;
	top: 13px;
	background: rgba(17, 24, 27, 0);
	margin-left: 15px;
	height: 42px;
	width: 200px;
	padding-left: 10px;
}

#searchBeer1 {
	position: absolute;
	top: 62px;
	padding: 10px;
	background: rgba(17, 24, 27, 0.3);
	/*float: left;*/
	width: 250px;
	height: 475px;
	margin-left: 20px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	overflow:scroll;	

}


#searchBeer2 {
	position: absolute;
	margin-left: 310px;
	top: 62px;
	padding: 10px;
	background: rgba(17, 24, 27, 0.3);
	width: 250px;
	height: 475px;
	border-radius: 15px;
	overflow: scroll;	
}

#order {
	background: white;
	position: absolute;
	margin-left: 600px;
	top: 112px;
	padding: 10px;
	width: 465px;
	height: 339px;
	background: rgba(17, 24, 27, 0.3);
	overflow:scroll;	
}

#toporder {
	background: rgba(17, 24, 27, 0.3);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
	top: 61px;
	left: 600px;
	width: 485px;
	height: 48px;
}

#undo {
	background: rgba(17, 24, 27, 0.3);
	color: white;
	position: relative;
	left: -285px;
	top: 5px;
	cursor: pointer;
	padding: 13px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
   border:none;
}

#redo {
	background: rgba(17, 24, 27, 0.3);
	color: white;
	position: relative;
	left: -286px;
	top: 5px;
	cursor: pointer;
	padding: 13px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
   border:none;
}

#cancel {
	background: rgba(17, 24, 27, 0.3);
	color: white;
	position: relative;
	left: 116px;
	top: -34px;
	cursor: pointer;
	padding: 13px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
   border:none;

}

#order_total {
	position: absolute;
	margin-left: 600px;
	top: 475px;
	padding: 10px;
	width: 465px; 
	height: 60px;
	background: rgba(17, 24, 27, 0.3);
}

#order_total p {
	margin-left: 20px;
	margin-top:20px;
	font-size: 25px; 
}

#total_text {
	margin-left: 20px;
	margin-top:20px;
	font-size: 25px; 
}

#order_button_area {
	position: absolute;
	left: 600px;
	width: 485;
	height: 50px;
	top: 560px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.order_button {
	background: rgba(17, 24, 27, 0.3);
	color: white;
	width: 118px;
	text-align: center;
	cursor: pointer;
	padding: 16px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
    margin-bottom: 1px;
    border: none;
}

.beerWrapper {
	border-bottom-color: white;
	margin-bottom: 0px;
	border-bottom: solid 1px;
	cursor:pointer;
	width: 100%;
	display: inline-block;	
}

.beerInfoImage {
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 0px;
	overflow: auto;
}

.beerInfoImage img {
	width: 35px;
	height: 35px;
}

.beerButton {
	padding: 10px;
	cursor:pointer;
	width: 190px;
	display: inline-block;
	float: right;
}

.beerButtonLowStock {
	background: rgba(215, 219, 73, 0.3);
	padding: 10px;
	cursor:pointer;
	width: 190px;
	display: inline-block;
	float: right;
}

.beerButtonEmptyStock {
	background-color: rgba(232, 44, 44, 0.2); 
/*	background: (255, 0, 0, 0.3); */
	padding: 10px;
	cursor:pointer;
	width: 190px;
	display: inline-block;
	float: right;
}



.beerButtonOrder {
/*	background: black; */
	padding: 10px; 
	border-bottom-color: white;
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom: solid 1px;
	width: 445px;
	display: inline-block;
}

.orderText {
	width: 250px;
	position: absolute;
	display: inline-block; 
	padding: 12px;


}

.quantity {
	padding: 10px;
	position: absolute;
	left: 250px;
/*	border-bottom-color: white;
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom: solid 1px; */
	/*cursor:pointer; */
	width: 150px;
/*	height: 20px;*/
	display: inline-block; 
}


.deleteButton{
	padding: 10px;
	float: right;
	cursor: pointer;
}


input[type="image"] {
	width: 20px;
	height: 20px; 
	margin-left: 10px; 
	margin-right: 10px;
	float: right;
}

input[type="text"] {
width: 8%;
height: 10px;
font-size: 12px;
float:right;
}


table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   border-bottom-color: white;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 100%;
}

th,td {
    padding: 15px;
    cursor: pointer;
}

.order_buttonPrint {
	background: rgba(17, 24, 27, 0.3);
	color: white;
	width: 118px;
	text-align: center;
	cursor: pointer;
	padding: 16px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
    margin-bottom: 1px;
    border: none;

}
.order_buttonCredit {
	/*background-color: red;*/
	background: rgba(17, 24, 27, 0.3);
	color: white;
	width: 118px;
	text-align: center;
	cursor: pointer;
	padding: 16px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
    margin-bottom: 1px;
    border: none;
}

/*POPUP RELATED*/
#info {
	position:absolute; 
	left:50%; 
	top:50%; 
	margin-left:-290px; 
	margin-top:-190px; 
	z-index:1; 
	display:none;
}

#close img { 
	position:absolute; 
	cursor: pointer;
	width: 25px; 
	height: 25px; 
	top:-10px; 
	right:-10px; 
	z-index:2; 
}

#backgroundShadow { 
	position:absolute; 
	width:100%; 
	min-height:100%; 
	background:#000; 
	left:0px; 
	top:0px; 
	z-index:0; 
	display:none;
}

#beerInfo {
	cursor: pointer;
}

iframe {
	border-radius: 15px;
	border: 0px;
	width: 510px;
	height: 315px;
}

/*POPUP BILL */
/*
.beerButtonOrder {
	padding: 10px; 
	border-bottom-color: white;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 350px;
	height: 20px;
	display: inline-block;
	border: hidden;
}

.orderText {
	width: 200px;
	position: absolute;
	display: inline-block; 
	padding: 10px;
	color: white;
	border: none;
	background-color: red;
}

.quantity {
	padding: 10px;
	position: absolute;
	left: 250px;
	width: 50px;
	color: white;
	display: inline-block; 
	border: none;
}

#printButton {
	position: absolute;
	float: right;
}
*/





