html
{
    height: 100%;
    background-color: black;
}

body
{
    height: 97%;
    text-align: center;
}
.div
{
    margin: 0 auto;
}

#logoin
{
    height: 160px;
    width: 265px;
    text-align: center;
    margin:0 auto;
    font-size: small;
    text-shadow: 0 1px 0 #000;
    border-radius: 15px;
    /*background-color:#263233 ;*/
    background-image: url("logoin_back.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

#top
{
    background-image: url("top.png");
    height: 5%;
    margin: 0 95px 0 95px;
}

#main
{
    height: 100%;
    margin: 0 190px 0 190px;
    text-align: center;
    background-image: url("start.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

#buttom
{
    background-image: url("top.png");
    height: 6%;
    margin: 55% 95px 0 95px;
}

#username
{
    color: gray;
}

#password
{
    color: gray;
}

#log_frm
{
    text-align: center;
    margin:0 auto;
}

#login_table
{
    text-align: center;
    margin:0 auto;

}

#submit_btn
{
    background-image: url("logoinbutton.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display:block;
    font-size:0;
    line-height:0;
    text-indent:-9999px;
    width:60px;
    height:25px;
    cursor: pointer;
    border-radius: 15px;
}